[submodule "esoco-common"]
	path = esoco-common
	url = ../esoco-common.git
	branch = master
[submodule "esoco-lib"]
	path = esoco-lib
	url = ../esoco-lib.git
	branch = master
[submodule "esoco-business"]
	path = esoco-business
	url = ../esoco-business.git
	branch = master
[submodule "esoco-storage"]
	path = esoco-storage
	url = ../esoco-storage.git
	branch = master
[submodule "esoco-gwt"]
	path = esoco-gwt
	url = ../esoco-gwt.git
	branch = master
[submodule "gewt"]
	path = gewt
	url = ../gewt.git
	branch = master
[submodule "objectrelations"]
	path = objectrelations
	url = ../objectrelations.git
	branch = master
