[submodule "esoco-common"]
	path = esoco-common
	url = https://github.com/esoco/esoco-common.git
	branch = master
[submodule "esoco-lib"]
	path = esoco-lib
	url = https://github.com/esoco/esoco-lib.git
	branch = master
[submodule "esoco-business"]
	path = esoco-business
	url = https://github.com/esoco/esoco-business.git
	branch = master
[submodule "esoco-storage"]
	path = esoco-storage
	url = https://github.com/esoco/esoco-storage.git
	branch = master
[submodule "esoco-gwt"]
	path = esoco-gwt
	url = https://github.com/esoco/esoco-gwt.git
	branch = master
[submodule "gewt"]
	path = gewt
	url = https://github.com/esoco/gewt.git
	branch = master
[submodule "objectrelations"]
	path = objectrelations
	url = https://github.com/esoco/objectrelations.git
	branch = master
